body {
	margin: 0;
	padding: 0;
	background-image: url('https://media.discordapp.net/attachments/1081505752470011966/1081886513157111869/Capture_decran_du_2023-03-05_11-30-30.png?width=469&height=284');
	background-size: cover;
	background-position: center;
}

header {
	position: relative;
}

nav {
	background-color: #333;
	color: #fff;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline-block;
	padding: 10px;
}

a {
	color: #fff;
	text-decoration: none;
}
